{% extends 'base.html' %}
{% block content %}
<div class="container full-div mt-5">
    <div class="row message-div">
        <div class="col-12">
            {% for message in messages %}
            <div class="container text-center alert-success p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="True">&times;</span>
                    </button>
                    {{ message }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <div class="row form-div">
        <div class="col-10 ml-auto">
            <div class="login-form-div row w-100">
                
                    <form action="{% url 'custom_login'%}" method="POST" class="w-100  form-design">
                        {% csrf_token %}
                        <div class="row heading-div mt-3 pt-5 pb-3">
                            <div class="col-12 text-center">
                                <h4>LOGIN</h4>
                            </div>
                        </div>
                        <div class="row pb-3">
                            <div class="col-6 m-auto">
                                <input type="text" class="form-control" id="username" placeholder="username" name="username">
                            </div>
                        </div>
                        <div class="row pb-3">
                            <div class="col-6 m-auto"><input type="password" class="form-control" id="password" placeholder="password" name="password"></div>
                        </div>
                        <div class="row forget-div">
                            <div class="col-12 col-md-6 m-auto">
                                <p class="text-muted ">Forget your password?<a href="{% url 'reset_password' %}">Reset Password</a></p>
                            </div>
                        </div>
                       
                        <div class="row pb-3 pt-2  pb-5 text-center">
                            <div class="col-6 m-auto w-100"><input type="submit" value="Login"
                                style="background-color:#1f8617; color:antiquewhite;border: none;font-size: 15px;padding: 15px 60px;"></div>
                        </div>
                        
                        
                    </form>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}